/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2016, 1:03:52 PM
    Author     : mgk03
*/

/* This iframe CSS need to go on any page using the MattTopNavBar iframe */
iframe {
    width: 1200px;
    height: 275px;
    border: 0;
    frameborder: 0;
    allowTransparency: true;
}

.background {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
    overflow-x: hidden;
    font-family: monospace;
}

.Main{
    padding-top: 280px;
    padding-left: 20px;
    font-size: 20px;
    width: 768px;
    z-index: 99;
}

.headings {
    font-family: monospace;
    font-size: 28px;
}

.bannerimgA {
    border-radius: 50px;
    float: left;
    padding-left: 20px;
    padding-top: 90px;
    Width: 256px;
    padding-right: 20px;
    z-index: 98;
}

.bannerimgB {
    border-radius: 50px;
    float: left;
    padding-left: 20px;
    padding-top: 90px;
    Width: 256px;
    padding-right: 20px;
    z-index: 98;
}

.Tabelized {
    width: 100%;
    border-collapse: collapse;
}

.RowTab {
    
}

.HeadTabe {
    text-align: center;
    border: 1px solid black;
}

.ColumnTabe {
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}