.nav ul {
    border-radius: 25px;
    list-style:none;
    margin: 10px;
    padding:0;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
    padding-right: 10px;
}
.nav a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:black;
    border-left:1px;
    border-radius: 25px;
    /*background-color: #FF9900*/
}
.nav a:hover {
    text-decoration:none;
    border-radius: 25px;
}
.nav li ul {
}
.nav li ul li {
    width:200px;
    padding-top: 10px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
}

.nav li ul {
    border-radius: 25px;
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}